* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}


.col {
    display: inline-flex;
    flex-direction: column;
    padding: 4px;
    border-bottom-width: 2px;
    border: solid;
    border-color: cadetblue;
    background-color: white;
}
div {
    padding: 2px;

}
label {
    display:flex;
    justify-content:right;
}

.row {
    display:flex;
    flex-direction:row;
  
}


#mainbox {
    position: fixed;
    bottom: 20px;
    right: 30px;
    margin: auto;
    width: 70%;
    height: 70%;
    align-items:start;
    background-color: lightgray;
}


button {
    color: black;
}

.round {
    margin: 2px;
    border-radius: 90%;
    height: 40px;
    width: 40px;
    margin: 1px;
}

.square {
    min-width: 50px;
    height: 50px;
    margin: 1px;
    max-width:80px;
    padding: 2px;
    border-radius: 8px;
    word-wrap: break-word; /* Breaks long words correctly */
    overflow-wrap: break-word; /* Ensures compatibility */
    vertical-align: top; /* Aligns text to the top */
    background-color: lightslategrey;
    color: black;
}
.square:focus {
    outline: none;
    border: 2px solid cyan;
    
}


#fire-button {
    background-color: crimson
}

#wood-button {
    background-color: lightgreen;
}

#water-button {
    background-color: dodgerblue;
}

#light-button {
    background-color: gold;
}

#dark-button {
    background-color: rebeccapurple
}
#toggle-elements{
    padding:2px;
 
    color:black;
}
#reset-elements{
    width:25px;
    background-color:red;
}
#element-container{
    background-color:gray;
    border-radius:3px;
    width:200px;

}